body {
    background: #f3f3f3;
}
.wrapper {
    max-width: 480px;
    margin: auto;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both
}
a {
    text-decoration: none;
    
}
.p__main {
    color: #6c6c6c;
    font-family: "Arial";
    font-size: 15px;
}
.learn__more {
    color: #1a2531;
    font-family: "BaronNeue";
    font-size: 13px;
    font-weight: bold;
}
h2 {
    color: #1a2531;
    font-family: "BaronNeue";
/*    font-size: 45px;*/
    font-size: 28px;
    font-weight: bold;
}
h3 {
    color: #1a2531;
    font-family: "BaronNeue";
/*    font-size: 38px;*/
    font-size: 21px;
    font-weight: bold;
}


.head {
    height: 300px;
    width: 100%;
    background: url(/img/head__bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
.head img[alt='topBtnS'], img[alt='menu'] {
    width: 34px;
    height: 40px;
    margin: 23px 26px;
}


.about {
    text-align: center;
    margin: 100px 10px 0;
}
.about h2 {
    margin: 0 0 15px;
}
.about img[alt='aboutImg'] {
    width: 100%;
    height: 175px;
    margin: 0 0 15px 0;
}
.about .p__main {
    text-align: left;
}
.about .learn__more {
    text-align: right;
    margin: 10px 0 0 0;
}


.works {
    text-align: center;
    margin: 100px 10px 50px 10px;
}
.works h3 {
    margin: 0 0 25px 0;
}
.works li, .works a {
    color: #1a2531;
    font-family: "BaronNeue";
    font-size: 12px;
    font-weight: bold;
}
.works li a:hover {
    border-bottom: 2px solid #1a2531;
}
.works__nav {
    width: 283px;
    margin: auto;
}
.works__nav ul li {
    margin: 0 12px;
    padding: 0 1px;
    float: left;
}
.works__nav ul li:first-child {
    margin-left: 0px; 
}
.works__nav ul li:last-child {
    margin-right: 0px;
}
.works__img {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.works__img img[alt="worksImg3"] {
    height: 40%;
}
.works__img__left {
    width: 50%;
}
.works__img__right {
    width: 50%;
}
.works__img__left img, 
.works__img__right img {
    width: 95%;
    margin: 5px;
}


.web__develp {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.web__develp p {
    color: #1a2531; 
    font-family: "BaronNeue";
    font-size: 12px;
    margin-top: 3px;
}
.web__develp__icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
}
.web__develp__box {
    margin: 8px 5px;
}
.web__develp__icons img {
    height: 45px;
}
.img__web__develp {
    width: 100%;
    height: 300px;
    background: url(/img/web__development__bg.jpg) no-repeat 50% 50%;
    background-size: cover;
}


.skills {
    margin: 100px 10px 0;
}
.skills p {
    color: #1a2531; 
    font-family: "BaronNeue";
    font-size: 14px;
    margin-bottom: 15px;
}
.skills span {
    margin-right: 10px;
}
.skills__article {
    text-align: center;
    margin-bottom: 30px;
}
.design__rate,
.css3__rate,
.javascript__rate {
    height: 14px;
    background: #000;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
    margin-bottom: 23px;
    text-align: right;
}
.design__rate {
    width: 95%;
}
.css3__rate {
    width: 85%;
}
.javascript__rate {
    width: 80%;
}


.telephone {
    display: flex;
    flex-direction: column;
}
.telephone__left__box,
.telephone__right__box {
    display: flex;
    justify-content: flex-start;
}



















