@font-face {
    font-family: 'BaronNeue';
    src: url(/font/BaronNeue/Baron%20Neue.otf);
}
@font-face {
    font-family: 'BaronNeueBold';
    src: url(/font/BaronNeue/Baron%20Neue%20Bold.otf);
}
body {
    background: #f3f3f3;
}
.wrapper {
    max-width: 480px;
    margin: auto;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both
}
a {
    text-decoration: none;
    color: inherit;
}
.p__main {
    color: #6c6c6c;
    font-family: "Arial";
    font-size: 15px;
    line-height: 1.5;
}
.learn__more {
    color: #1a2531;
    font-family: "BaronNeue";
    font-size: 13px;
}
h2 {
    color: #1a2531;
    font-family: "BaronNeue";
/*    font-size: 45px;*/
    font-size: 28px;
    font-weight: bold;
}
h3 {
    color: #1a2531;
    font-family: "BaronNeue";
/*    font-size: 38px;*/
    font-size: 21px;
    font-weight: bold;
}
.title {
    color: #1a2531;
    font-family: "BaronNeue";
    font-size: 14px;    
}
.article__center {
    text-align: center;
    margin-bottom: 50px;
}


.head {
    height: 300px;
    width: 100%;
    background: url(/img/head__bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
.head img[alt='topBtnS'], img[alt='menu'] {
    width: 34px;
    height: 40px;
    margin: 23px 26px;
}


.about {
    text-align: center;
    margin: 100px 10px 0;
}
.about h2 {
    margin: 0 0 15px;
}
.about img[alt='aboutImg'] {
    width: 100%;
    height: 175px;
    margin: 0 0 15px 0;
}
.about .p__main {
    text-align: left;
}
.about .learn__more {
    text-align: right;
    margin: 10px 0 0 0;
}
.about__article__tablets {
    display: none;
}


.works {
    text-align: center;
    margin: 100px 10px 50px 10px;
}
.works h3 {
    margin: 0 0 25px 0;
}
.works a {
    padding-bottom: 2px;
}
.works li, .works a {
    color: #1a2531;
    font-family: "BaronNeue";
    font-size: 12px;
}
.works li a:hover {
    border-bottom: 2px solid #1a2531;
}
.works__nav {
    width: 283px;
    margin: auto;
}
.works__nav ul li {
    margin: 0 12px;
    padding: 0 1px 2px;
    float: left;
}
.works__nav ul li:first-child {
    margin-left: 0px; 
}
.works__nav ul li:last-child {
    margin-right: 0px;
}
.works__img {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.works__img__left img[alt="worksImg3"] {
    height: 40%;
}
.works__img__left {
    width: 50%;
}
.works__img__right {
    width: 50%;
}
.works__img__left img, 
.works__img__right img {
    width: 95%;
    margin: 5px;
}
.works__img__first,
.works__img__center,
.works__img__last {
    display: none;
}


.web__develp {
    margin: 70px 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.web__develp p {
    margin-top: 10px;
}
.web__develp__icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
}
.web__develp__box {
    margin: 20px 0;
}
.web__develp__icons img {
    height: 50px;
}
.img__web__develp {
    width: 100%;
    height: 300px;
    background: url(/img/web__development__bg.jpg) no-repeat 50% 50%;
    background-size: cover;
}


.skills {
    margin: 70px 10px 0;
}
.skills p {
    margin-bottom: 15px;
}
.skills span {
    margin-right: 10px;
}
.design__rate,
.css3__rate,
.javascript__rate {
    height: 14px;
    background: #000;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
    margin-bottom: 23px;
    text-align: right;
}
.design__rate {
    width: 95%;
}
.css3__rate {
    width: 85%;
}
.javascript__rate {
    width: 80%;
}


.telephone {
    display: flex;
    flex-direction: column;
    margin: 100px 10px 0;
}
.telephone .title {
    margin-bottom: 6px;
}
.telephone p {
    margin-left: 85px;
}
.telephone .box {
    margin: 25px 0;
}
.telephone .box img {
    float: left;
    height: 65px;
    margin: 0 20px 0 0;
}
.telephone__center__box {
    text-align: center;
}


.news {
    display: flex;
    flex-direction: column;
    margin: 100px 28px 0;
}
.news__box {
    margin: 0 0 20px 0;
}
.news .title {
    font-weight: normal;
    margin: 7px 0 7px 0;
}
.news__box__datepost {
    color: #6c6c6c;
    font-family: "Arial";
    font-size: 13px;
    margin: 10px 0;
}
.news__box__text {
    color: #6c6c6c;
    font-family: "Arial";
    font-size: 14px;
}
.news .news__box__datepost img {
    margin: 0 8px 0 0;
}
.news__span {
    margin-right: 30px;    
}
.news .learn__more {
    color: #979797;
    margin: 16px 0 0 0;
}
.news__box img[alt="newsImg1"],
.news__box img[alt="newsImg2"],
.news__box img[alt="newsImg3"] {
    width: 100%;
}    
.news .writer {
    display: inline;
    margin-bottom: 7px;
}


.east__north {
    margin: 80px 0 0;
    display: flex;
    flex-direction: column;
}
.east__north__img {
    width: 100%;
    height: 300px;
    background: url(/img/east__north.jpg) no-repeat 50% 50%;
    background-size: cover;
    margin-bottom: 30px;
}
.east__morth__box {
    width: 90%;
    margin: auto;
    text-align: center;
}
.east__morth__box p {
    color: #1a2531;
    font-family: "Arial";
    font-size: 21px;
    font-weight: bold;
    margin: 30px 0;
}
.east__north__navigation {
    width: 80px;
    margin: 0 auto;
}
.east__north__navigation span {
    width: 8px;
    height: 8px;
    float: left;
    margin-right: 16px;
    background: #ddd;
}
.east__north__navigation span:first-child {
    background: #000;
}
.east__north__navigation span:last-child {
    margin-right: 0px;
}


.contact__us {
    margin: 70px 40px 0;
}
.contact__us input, textarea {
    color: #c0c0c0;
    font-family: "BaronNeueBold";
    font-size: 14px;
}
.contact__us input[type="text"],
.contact__us textarea {
    width: 97%;
    float: left;
    padding: 10px 0 10px 10px;
    margin: 10px 0;
    border: 0;
    background: #efefef;
}
.contact__us input[type="button"] {
    float: left;
    background: none;
    border: 0;
}
#contact__us__name {
    margin-right: 10px;
}
#contact__us__name,
#contact__us__surname {
    width: 46%;
}


.footer {
    margin: 100px 10px 50px;
    display: flex;
    justify-content: space-between;
}
.footer__scroll__top {
    width: 44px;
    height: 39px;
    margin-top: 3px;
    background: #1a2631;
    color: #fff;
    text-align: center;
}
.footer__scroll__top p {
    padding: 12px 0;
}
.footer img {
    margin-right: 17px;
}
.footer img[alt="twitter"],
.footer img[alt="be"] {
    margin-bottom: 2px;
}
.footer .p__main {
    color: #5c5c5c;
    font-size: 14px;
    margin-top: 5px;
}